.app--select--address {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.app--house--add {
  width: 700px;
  margin: 50px auto;
  padding: 25px;
  border-radius: 25px;
  background-color: white;
  box-shadow: 10px 10px rgb(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app--house--form--add {
  width: 90%;
  margin: auto;
}

.app--house--form--add > div {
  width: 100%;
}

.app--house--add--title {
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: 600;
}
